<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso de Productos</title>
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
</head>

<body>
    <!-- <div class="container mt-3">
        <h1 class="alert alert-success">
            Welcome, <%= username %>
                <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
                    Desloguear
                </button>
        </h1>
    </div> -->
    <header>
        <nav class="navbar navbar-light bg-dark min-vw-100">
            <h1 class="p-3 text-white">
                Welcome, <%= username %>
            </h1>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#modal">
                        <i class="bi bi-cart mx-5" id="carritoContenedor">0</i>
                    </a>
                    <a><button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
                            Desloguear
                        </button>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        <div class="row mt-5" id="contenedor">
            <div class="card mt-3" style="width: 18rem;">
                <h2>Vista de productos</h2>
                <br>

                <% if(hayProducts) { %>
                    <% productos.forEach((producto)=> { %>
                        <img class="card-img-top mt-2" src=<%=producto.thumbnail %> alt="not found">
                        <table class="table table-dark">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= producto.title %>
                                </h5>
                                <p class="card-text">Precio:
                                    <%= producto.price %> uds
                                </p>
                                <p class="card-text">Stock:
                                    <%= producto.stock %> unidades
                                </p>

                                <button onclick="addProduct(producto._id)" class="btn btn-primary">Agregar al
                                    carrito</button>
                            </div>
                            <% }) %>
                        </table>
                        <% } else{ %>
                            <h3 class="alert alert-warning">No existen datos</h3>
                            <% } %>
            </div>
        </div>
    </main>
    <!-- </div> -->
    <div class="container-xl">
        <div class="modal" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Carrito</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="vaciarCarrito">
                            Vaciar carrito
                        </button>
                        <button type="button" id="procesarCompra" class="btn btn-primary">
                            Continuar compra
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>

                        <span>Precio total:</span>
                        <p class="text-center" id="precioTotal"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../public/js/main.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>